<form #quoteForm="ngForm" (ngSubmit)="onSubmitClick(formQuote)" class="app-quote-form" data-test="quote-form">
  <mat-form-field>
    <input matInput placeholder="Titel" [(ngModel)]="formQuote.title" name="quote-title" data-test="quote-form-title" />
  </mat-form-field>

  <mat-form-field class="app-quote-form__full-width">
    <textarea
      matInput
      placeholder="Tekst"
      [(ngModel)]="formQuote.text"
      name="quote-text"
      required
      class="app-quote-form__text"
      cdkTextareaAutosize
      data-test="quote-form-text"
    ></textarea>
  </mat-form-field>

  <div class="app-quote-form__checkbox-group">
    <mat-checkbox [(ngModel)]="formQuote.children.ben" name="quote-child-ben" class="app-quote-form__checkbox"
      >Ben</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="formQuote.children.tom" name="quote-child-tom" class="app-quote-form__checkbox"
      >Tom</mat-checkbox
    >
  </div>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="quoteDate"
      placeholder="Datum"
      [(ngModel)]="formQuote.datestamp"
      name="quote-datestamp"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="quoteDate"></mat-datepicker-toggle>
    <mat-datepicker #quoteDate></mat-datepicker>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!quoteForm.form.valid"
      data-test="quote-form-submit"
    >
      Ok
    </button>
  </div>
</form>
