<form #quoteForm="ngForm" (ngSubmit)="onSubmitClick(formQuote)" class="app-quote-form">
  <mat-form-field class="app-quote-form__full-width">
    <textarea
      matInput
      placeholder="Tekst"
      [(ngModel)]="formQuote.text"
      name="quote-text"
      required
      class="app-quote-form__text"
      cdkTextareaAutosize
    ></textarea>
  </mat-form-field>

  <div class="app-quote-form__checkbox-group">
    <mat-checkbox [(ngModel)]="formQuote.children.ben" name="quote-child-ben" class="app-quote-form__checkbox"
      >Ben</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="formQuote.children.tom" name="quote-child-tom" class="app-quote-form__checkbox"
      >Tom</mat-checkbox
    >
  </div>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="quoteDate"
      placeholder="Datum"
      [(ngModel)]="formQuote.datestamp"
      name="quote-datestamp"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="quoteDate"></mat-datepicker-toggle>
    <mat-datepicker #quoteDate></mat-datepicker>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary">Ok</button>
  </div>
</form>
