<mat-card class="app-quote-card--highlight app-quote-card--ben">
  <mat-card-header>
    <mat-card-title>{{ quote.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="quote.datestamp">{{ quote.datestamp | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ quote.text }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions fxLayout fxLayoutAlign="flex-start, center">
    <button mat-icon-button aria-label="Edit quote" (click)="onQuoteEditClick()" matTooltip="Wijzig">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete quote" (click)="onQuoteDeleteClick()" matTooltip="Verwijder">
      <mat-icon>delete</mat-icon>
    </button>
    <span class="app-quote-card__spacer"></span>
    <mat-chip-list>
      <mat-chip *ngIf="quote.children.ben" selectable="false">Ben</mat-chip>
      <mat-chip *ngIf="quote.children.tom" selectable="false">Tom</mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
