<table mat-table [dataSource]="users$ | async">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <p data-test="user-name">{{ element.name }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let element">
      <p data-test="user-role">{{ element.role }}</p>
      <!-- <app-overview-role [activeRole]="element.role" (activeRoleChange)="roleChange($event)"></app-overview-role> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef>Avatar</th>
    <td mat-cell *matCellDef="let element">
      <img *ngIf="element.photoUrl && element.photoUrl.length" [src]="element.photoUrl" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
