<mat-card class="app-quote-card app-quote-card--ben">
  <mat-card-header>
    <span class="app-quote-card__spacer"></span>
    <button mat-icon-button aria-label="Edit quote" (click)="onQuoteEditClick()" color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete quote" (click)="onQuoteDeleteClick()" color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ quote.text }}</p>
    <mat-chip-list>
      <mat-chip *ngIf="quote.children.ben" selectable="false">Ben</mat-chip>
      <mat-chip *ngIf="quote.children.tom" selectable="false">Tom</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
