<section class="app-quotes">
  <app-quote-table [quotesData]="quotesService.quotes | async"></app-quote-table>

  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="2rem grid">
    <app-quote-card
      [text]="quote.text"
      [children]="quote.children"
      fxFlex="0 1 100%"
      fxFlex.sm="0 1 50%"
      fxFlex.md="0 1 calc(100%  /3)"
      fxFlex.lg="0 1 25%"
      fxFlex.xl="0 1 20%"
      *ngFor="let quote of quotes"
    ></app-quote-card>
  </div>

  <a
    mat-fab
    color="primary"
    aria-label="Add quote"
    class="app-quotes__add-quote-button"
    (click)="onAddQuoteButtonClick()"
    ><mat-icon>add</mat-icon></a
  >
</section>
