<section class="app-quotes">
  <mat-spinner *ngIf="isQuotesLoading" class="app-quotes__spinner"></mat-spinner>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="1rem grid">
    <app-quote-card
      *ngFor="let quote of quotes"
      [quote]="quote"
      (editQuote)="onEditQuote($event)"
      (deleteQuote)="onDeleteQuote($event)"
      fxFlex="0 1 100%"
      fxFlex.sm="50%"
      fxFlex.md="calc(100%  /3)"
      fxFlex.lg="25%"
      fxFlex.xl="20%"
    ></app-quote-card>
  </div>

  <a
    mat-fab
    color="primary"
    aria-label="Add quote"
    class="app-quotes__add-quote-button"
    (click)="onAddQuoteButtonClick()"
    ><mat-icon>add</mat-icon></a
  >
</section>
