.app-quotes {
  &__add-quote-button {
    bottom: 2rem;
    position: fixed;
    right: 2rem;
  }

  &__spinner {
    margin: 2rem auto;
  }

  &__quotes-icon {
    width: 10rem;
    height: 10rem;
    fill: grey;
    margin-bottom: 2rem;
  }
}
