<section class="app-quotes">
  <mat-spinner *ngIf="isQuotesLoading" class="app-quotes__spinner"></mat-spinner>
  <div *ngIf="quotes.length" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="1rem grid">
    <section
      *ngFor="let quote of quotes; let odd = odd; let even = even; trackBy: trackQuotes"
      fxFlex="0 1 100%"
      fxFlex.sm="50%"
      fxFlex.md="calc(100%  /3)"
      fxFlex.lg="25%"
      fxFlex.xl="20%"
    >
      <app-quote-card-highlight
        [quote]="quote"
        (editQuote)="onEditQuote($event)"
        (deleteQuote)="onDeleteQuote($event)"
        data-test="quote-card"
      ></app-quote-card-highlight>
    </section>
  </div>
  <div *ngIf="!quotes.length && !isQuotesLoading" fxLayout="column" fxLayoutAlign="center center">
    <div class="app-quotes__quotes-icon" aria-label="Quotes icon" [inlineSVG]="'/assets/quotes.svg'"></div>

    <p>Er zijn nog geen uitspraken toegevoegd. Voeg er rechtsonder een toe!</p>
  </div>

  <a
    mat-fab
    color="primary"
    aria-label="Add quote"
    class="app-quotes__add-quote-button"
    (click)="onAddQuoteButtonClick()"
    data-cy="quote-add"
    ><mat-icon>add</mat-icon></a
  >
</section>
