<mat-toolbar color="primary" role="heading" class="app-navigation" data-cy="navigation">
  <a
    href="#"
    [routerLink]="['/quotes']"
    class="app-navigation__quotes-icon"
    aria-label="Quotes icon"
    [inlineSVG]="'/assets/quotes.svg'"
  ></a>
  <a mat-button href="#" [routerLink]="['/users']" class="app-navigation__menu-item" *ngIf="isUsersVisible | async"
    >Gebruikers</a
  >

  <span class="app-navigation__spacer"></span>

  <button mat-raised-button *ngIf="isLoggedOut() | async" (click)="authService.login()">
    Login
  </button>
  <button
    mat-raised-fbutton
    *ngIf="isLoggedIn() | async"
    (click)="authService.logout()"
    matTooltip="Logout"
    aria-label="Logout"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <img
        class="app-navigation__avatar"
        *ngIf="!!(authService.user$ | async)?.photoUrl"
        [src]="(authService.user$ | async)?.photoUrl"
      />
      <p class="mat-body">{{ (authService.user$ | async)?.name }}</p>
    </div>
  </button>
</mat-toolbar>
