@import '~@angular/material/theming';

.app-navigation {
  @include mat-elevation(2);

  &__spacer {
    flex: 1 1 auto;
  }

  &__quotes-icon {
    width: 2rem;
    height: 2rem;
    fill: white;
  }
}
