<mat-toolbar color="primary" role="heading" class="app-navigation">
  <div class="app-navigation__quotes-icon" aria-label="Quotes icon" [inlineSVG]="'/assets/quotes.svg'"></div>

  <span class="app-navigation__spacer"></span>

  <button mat-raised-button *ngIf="isLoggedOut()" (click)="authService.login()">Login</button>
  <button mat-raised-button *ngIf="isLoggedIn()" (click)="authService.logout()" title="Logout">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <img
        class="app-navigation__avatar"
        *ngIf="authService.currentUser.photoURL"
        src="{{ authService.currentUser.photoURL }}"
      />
      <p class="mat-body">{{ authService.currentUser.displayName }}</p>
    </div>
  </button>
</mat-toolbar>
