<section class="edit-authenticated-user">
  <mat-spinner *ngIf="isLoading" class="edit-authenticated-user__spinner"></mat-spinner>
  <ng-container *ngIf="!isLoading">
    <div class="edit-authenticated-user__row">
      <p class="edit-authenticated-user__title">Naam:</p>
      <p class="edit-authenticated-user__value" data-test="edit-authenticated-user-name">{{ (user$ | async)?.name }}</p>
    </div>
    <div class="edit-authenticated-user__row">
      <p class="edit-authenticated-user__title">Rol:</p>
      <p class="edit-authenticated-user__value" data-test="edit-authenticated-user-role">{{ (user$ | async)?.role }}</p>
    </div>
    <div class="edit-authenticated-user__row">
      <p class="edit-authenticated-user__title">Avatar:</p>
      <img [src]="(user$ | async)?.photoUrl" class="edit-authenticated-user__photo" />
    </div>
  </ng-container>
</section>
