.edit-authenticated-user {
  min-width: 50vw;

  &__row {
    display: flex;
    justify-content: center;
    & > * {
      flex: 50%;
    }
  }

  &__photo {
    width: 5rem;
  }

  &__spinner {
    margin: 2rem auto;
  }
}
